# .NET build artifacts
**/bin/
**/obj/
**/publish/

# Tools & Decompiled cache
tools/*.jar
tools/MusicScope-extracted.jar
tools/src-decompiled/raw-exe/
tools/src-decompiled/raw-mscv/
publish/

# Bundled legacy Java App
OriginalJavaApp/

# User-specific files
*.user
*.userosscache
*.suo
.vs/
.idea/
.vscode/
