# .NET build artifacts
**/bin/
**/obj/
**/publish/

# Tools & Decompiled cache
tools/src-decompiled/
__pycache__/
*.pyc
publish/

# Bundled legacy Java App
OriginalJavaApp/*
!OriginalJavaApp/*.zip

# User-specific files
*.user
*.userosscache
*.suo
.vs/
.idea/
.vscode/
