# .NET build artifacts
**/bin/
**/obj/
**/publish/

# Tools & Decompiled cache
tools/
publish/

# Bundled legacy Java App
OriginalJavaApp/

# User-specific files
*.user
*.userosscache
*.suo
.vs/
.idea/
.vscode/
