[Desktop Entry]
Type=Application
Name=MusicScope.NET
Comment=High resolution audio analyzer
Exec=MusicScope.NET
Icon=MusicScope.NET
Terminal=false
Categories=AudioVideo;Audio;
StartupWMClass=MusicScope.NET
